<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mayfly.sys.module.check.mapper.ImageMapper">

    <!-- Image结果集 -->
    <resultMap id="ImageMap" type="mayfly.sys.module.check.entity.Image" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="image_type" property="imageType" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="creator_id" property="creatorId" jdbcType="BIGINT"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="table_name">t_image</sql>

    <!-- 所有字段 -->
    <sql id="all_columns">
        id, image_type, url, creator_id, creator, create_time
    </sql>

    <!-- 不带主键的所有字段 -->
    <sql id="all_columns_not_with_id">
        image_type, url, creator_id, creator, create_time
    </sql>

    <!-- 查询条件带where -->
    <sql id="all_query_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="imageType != null">
                AND image_type = #{imageType}
            </if>
            <if test="url != null and '' != url">
                AND url = #{url}
            </if>
            <if test="creatorId != null">
                AND creator_id = #{creatorId}
            </if>
            <if test="creator != null and '' != creator">
                AND creator = #{creator}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
        </trim>
    </sql>

    <!-- 删除条件带where -->
    <sql id="all_delete_condition_with_where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="imageType != null">
                AND image_type = #{imageType}
            </if>
            <if test="url != null and '' != url">
                AND url = #{url}
            </if>
            <if test="creatorId != null">
                AND creator_id = #{creatorId}
            </if>
            <if test="creator != null and '' != creator">
                AND creator = #{creator}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
        </trim>
    </sql>

    <!-- 更新条件带set -->
    <sql id="all_set_condition_with_set">
        <set>
            <if test="imageType != null">
                image_type = #{imageType}, 
            </if>
            <if test="url != null and '' != url">
                url = #{url}, 
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId}, 
            </if>
            <if test="creator != null and '' != creator">
                creator = #{creator}, 
            </if>
            <if test="createTime != null">
                create_time = #{createTime}
            </if>
        </set>
    </sql>

    <!-- 批量更新条件带set -->
    <sql id="all_batch_set_condition_with_set">
        <set>
            <if test="item.imageType != null">
                image_type = #{item.imageType}, 
            </if>
            <if test="item.url != null and '' != item.url">
                url = #{item.url}, 
            </if>
            <if test="item.creatorId != null">
                creator_id = #{item.creatorId}, 
            </if>
            <if test="item.creator != null and '' != item.creator">
                creator = #{item.creator}, 
            </if>
            <if test="item.createTime != null">
                create_time = #{item.createTime}
            </if>
        </set>
    </sql>

    <!--根据对象属性插入-->
    <insert id="insertByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="mayfly.sys.module.check.entity.Image">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES (
            #{imageType}, #{url}, #{creatorId}, #{creator}, #{createTime}
        )
    </insert>

    <!--根据对象属性插入-->
    <insert id="insertBatchByProperty" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.util.List">
        INSERT INTO <include refid="table_name"/>
        (
            <include refid="all_columns_not_with_id"/>
        )
        VALUES
        <foreach collection="list" item="item" separator="," index = "index">
        (
            #{item.imageType}, #{item.url}, #{item.creatorId}, #{item.creator}, #{item.createTime}
        )
        </foreach>
    </insert>

    <!--根据主键更新-->
    <update id="updateByPrimaryKey" parameterType="mayfly.sys.module.check.entity.Image">
        UPDATE <include refid="table_name"/>
            <include refid="all_set_condition_with_set"/>
        WHERE
            id = #{id}
    </update>

    <!--根据主键批量更新-->
    <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE <include refid="table_name"/>
                <include refid="all_batch_set_condition_with_set"/>
            WHERE
                id = #{item.id}
        </foreach>
    </update>

    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </delete>

    <!--根据主键列表批量删除-->
    <delete id="deleteBatchByPrimaryKey" parameterType="java.util.List">
        DELETE FROM
            <include refid="table_name"/>
        WHERE
            id
        IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--根据属性删除-->
    <delete id="deleteByProperty" parameterType="mayfly.sys.module.check.entity.Image">
        DELETE FROM <include refid="table_name"/>
        <include refid="all_delete_condition_with_where"/>
    </delete>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ImageMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        WHERE
            id = #{id}
    </select>

    <!-- 根据对象属性查询 -->
    <select id="selectByProperty" parameterType="mayfly.sys.module.check.entity.Image" resultMap="ImageMap">
        SELECT
            <include refid="all_columns"/>
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

    <!-- 根据对象属性查询统计 -->
    <select id="countByProperty" parameterType="mayfly.sys.module.check.entity.Image" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            <include refid="table_name"/>
        <include refid="all_query_condition_with_where"/>
    </select>

    <!-- 根据用户id查询-->
    <select id="selectByAccountId" parameterType="java.lang.Long" resultType="mayfly.sys.module.check.vo.ImageVO">
        SELECT
        COUNT(id) as count,image_type as imageType
        FROM
        <include refid="table_name"/>
        WHERE
        creator_id = #{creatorId}
        and
        TO_DAYS(create_time) = TO_DAYS(NOW())
        GROUP BY image_type
    </select>
</mapper>